// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin:0;
	padding:0;
	font-family:'Arial', serif;
}
.nav{
	color:#000000;
	list-style:none;
	text-align:right;
	padding: 20px 0 10px 0;
	background-color:#E1E1E1;
	display:block;
	position:relative;
	margin-top:0px;
	margin-bottom:0px;
	border-bottom: 1px solid black;
}
.nav > li {
	display: inline-block;
	padding-right:50px;
	font-size:16px;
}
.nav > li > a {
	text-decoration:none;
	color:#000000;
}
.nav > li > a:hover {
	color:#c1c1c1;
}
.logo{
	color:#000000;
	float:left;
	padding-left:25px;
	font-size:20px;
	font-weight:bold;
}
.logo > a {
	text-decoration:none;
	color:#000000;
}
.banner{
	width:100%;
	display: block;
}
.banner > .banner-image{
	width:100%;
	display: block;
}

h1, h2{
	float: left;
   	display: inline-block;
    	clear: left;
}

.parent-approve{
	font-size:17px;
	font-weight:bold;
}

/* ORIGINAL CODE 20/03/17
.welcome_header{
	font-size:30px;
	font-weight:bold;
	font-family:Helvetica;
	color:#f4a742
	text-align:center;
}

.reg-acct{
	font-size:18px;
	font-weight:bold;
	font-family:Helvetica;
	color:#f4a742
	text-decoration:underline;
}

.reg-teach{
	font-size:18px;
	font-weight:bold;
	font-family:Helvetica;
	color:#f4a742
	text-decoration:underline;
}
*/
