<DOCTYPE html>
<html lang="en">

<head>
	<neta charset="utf-8">
	<title>Home</title>
	<!-- if need to link stylesheet
		<link rel="stylesheet" type"text/css" href="welcome.scss">
	-->
</head>

<body>
	<ul class="nav">
	<div class="logo">
		<a href="#">Home</a></li>
	</div>
	
	<li><a href="#">Home</a></li>
	<% if logged_in? %>
		<li><% link_to "logout",'/logout',method: :delete %></li>
	<% else %>
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Register for account</a></li>
	<% end %>
	
	<%if logged_in? and  current_user.admin == true %>
		<li><a href="/registerteacher">Register a teacher</a></li>
	<% end %>
	
	</ul>
	
	<div class="banner">
		
		<%= image_tag("banner1.jpg", class:"banner-image")%>
	</div>
	
</body>








	<!-- What was originally here
	<div>
		<h1 class="welcome_header">Welcome page<h1>
			<p class="reg-acct"><%= link_to "Register for account",'/register'%></p>
			<p class="reg-teach">><%= link_to "Register as a teacher",'/registerteacher' %></p>
	</div>
	-->
</html>
