<p id="notice"><%= notice %></p>

<% if !@current_user.nil? and @current_user.admin? and @current_user.authenticated?  %>
<p><%= link_to 'New Activity', new_activity_path %></p>
<% end  %>

<table class="table">
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
      <th> <%= activity.ActivityName %> </th>
          <td class="image-1"> <%= link_to image_tag(activity.image_link.to_s), activity %> </td>
	</div> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>



